* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IRANSans", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f8f9f9;
  font-family: "Vazirmatn", sans-serif;
}
/* .main {
  margin-right: 3px;
} */
.container-top {
  position: sticky;
  width: 100%;
  color: #505faa;
  margin: 10px 65px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.news {
  display: flex;
  align-items: center;
  gap: 14px;
  /* margin-left: 65px; */
}
.tooltip-text {
  display: flex;
  align-items: center;
  gap: 6px;
}
.send {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-right: 39em;
}
.weblog {
  display: flex;
  align-items: center;
  gap: 6px;
}
.arrow {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.arrow:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.client {
  padding-right: 18rem;
  display: flex;
  gap: 1rem;
}
.phone-number {
  color: #f2a84d;
  /* width: 50%; */
}
.user-status {
  appearance: none;
  background-color: transparent;
  border: 1px solid #505faa;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #505faa;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  min-height: 2.5em;
  min-width: 0;
  outline: none;
  padding: 0em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.user-status:disabled {
  pointer-events: none;
}

.user-status:hover {
  color: #505faa;
  background-color: #ffffff;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
  /* transform: translateY(-2px); */
}
#login {
  padding-left: 0.5em;
}
#Registration {
  padding-right: 0.5em;
}
button:active {
  box-shadow: none;
  transform: translateY(0);
}
.nav {
  position: relative;
  width: 100%;
  height: 80px;
}

.container {
  position: sticky;
  inset: 0;
  background: #ffffff;
  /* display: flex; */
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 0em;
}
.container div {
  display: flex;
  align-items: center;
  
  /* 
  gap: 2rem; */
}
/* .text {
  padding-right: 20px;
} */
.btn {
  padding: 0.5em 1.5em 0.5rem 0rem;
  /* font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  /* background: #727db1; */
  color: #727db1;
}
.container-Introduction {
  display: flex;
  align-items: center;
  gap: 75px;
  margin: 50px 60px;
}
.card {
  --bg-color: #ffffff;
  background-color: #f8f9f9;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  margin: 5em 10em 10em 0em;
}
.loader {
  display: flex;
  gap: 15px;
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 35px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f8f9f9;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    /* var(--bg-color) 90% */
  );
  z-index: 20;
}
/* .word {
  display: block;
  height: 100%;
  padding: 4px 8px;
  margin: 2px 0;
  color: #505faa;
  background-color: #f8f9f9;
  border: 2px solid #f8f9f9;
  border-radius: 5px;
  animation: spin_4991 4s infinite;
} */

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #505faa;
  animation: spin_4991 4s infinite;
}
@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
.Sevices {
  margin: 50px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100 60px;
}
.items-service {
  width: 80%;
  /* linear-gradient(135deg,rgb(179,208,253)0%,rgb(164,202,248)100%)*/ */
  border-radius: 3px;
  margin: 60px 0px;
}
.container{
  background-color: #f8f9f9;
  display: flex;
  /* justify-content: center; */
  /* gap: 12px; */
  /* border-bottom: 15px; */
}
.search-container {
  margin: 20px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 73px;
  border: solid #C5CAE3 2px;
  background-color: #ffffff;
  /* background: linear-gradient(
    135deg,
    rgb(218, 232, 247) 0%,
    rgb(214, 229, 247) 100%
  ); */
  padding: 5px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.search-container::after,
.search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(
    0deg,
    rgb(218, 232, 247) 0%,
    rgb(255, 255, 255) 100%
  );
  z-index: -1;
}
.search-svg{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F58B21;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 5px;
}


.input {
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  background-color: #ffffff;
  /* background: linear-gradient(
    135deg,
    rgb(218, 232, 247) 0%,
    rgb(214, 229, 247) 100%
  ); */
  color: #ffffff;
  text-align: center;
  width: 85%;
  height: 100%;
  border: none;
  font-size: 17px;
  caret-color: #878787;
}
.input ::placeholder{
  font-size: 20px;
  /*text-align: center;
  */color: #050505;
  padding: 0em 100em;
  text-align: center;
}
.view-suggestion{
  display: flex;
  gap: 15px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  /* gap: 45px; */
}

.item-suggestion {
  flex: 0 0 auto;
  width:300px ;
  height: 50px;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  /*cursor:alias;
  */border-radius: 10px;
  border: 2px solid #C5CAE3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: red 0.5s ease, color 0.5s ease;
  -webkit-transition: red 0.5s ease, color 0.5s ease;
  -moz-transition: red 0.5s ease, color 0.5s ease;
  -ms-transition: red 0.5s ease, color 0.5s ease;
  -o-transition: red 0.5s ease, color 0.5s ease;
}
.item-price{
  color: #050505;
  transition:red 0.5s ease ;
  -webkit-transition:red 0.5s ease ;
  -moz-transition:red 0.5s ease ;
  -ms-transition:red 0.5s ease ;
  -o-transition:red 0.5s ease ;
}
.item-suggestion p {
  color: #878787;
  transition: red 0.5s ease;
  -webkit-transition: red 0.5s ease;
  -moz-transition: red 0.5s ease;
  -ms-transition: red 0.5s ease;
  -o-transition: red 0.5s ease;
}

.item-suggestion:hover {
 /* transition: .4s;
 border: 2px none #fff; */
 background-color: #505faa;
 /* color: #FAE405;.کدمو درست کن */
 
}
.item-suggestion:hover .item-price {
  color: #FAE405;  
}

/* .item-suggestion p{
 border: 2px solid #fff;
 box-shadow: rgba(255, 255, 255, 0.986) 0px 2px 5px -1px, rgb(238, 231, 231) 0px 1px 3px -1px;
 transition: .4s;
 -webkit-transition: .4s;
 -moz-transition: .4s;
 -ms-transition: .4s;
 -o-transition: .4s;
}
.item-suggestion p :hover{
transition: .4s;
 border: 2px none #fff;
 background-color: #fff;
 color: #fffFFF;
} */

/* .item-suggestion:active {
 background-color: #505faa;
} */

/* .item-price{
  color: #050505;
} */
 .item-suggestion:hover p {
  color: #ffffff;  /* سفید */
}